section {
  background-color: white;
  text-align: center;
}
    /* Neden f20nin başına nokta koyuldu anlamadım */
.f20 { font-size: 20px;}
.f18 { font-size: 18px;}
.box {
  width: 200px;
  height: 200px;
}
p {
  border:1px solid blue ;
}
div {
  padding:  10px;
}
p::first-line{
  color: brown;
  word-spacing:
  2px;
  letter-spacing:
  1px;
}
p.about::first-line{
  color:green;
}
p::first-letter{
  font-size: 
  48px;
}
p::after{
  content:"-";
  display: block;
  background-color: yellow;
}
ul li:first-child{
  background-color: red;
}
/* Burda p etiketi olan her yere 1 px lik bir çizgi çekmesini sağladım */
/* Diğer tablolarda kullanımı olmaz çünkü oralarda tablo ile başlandığı için p etiketi olsun veya olmasın çıkmaz */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.center { 
  justify-content: center; 
}  
#kırmızı {
color: red;
}
.yeşil {
color: green;
}
.sarı {
color: yellow;
}
h1 {
  color:black;
}
h2 {
  color: black;
}
h3 {
  color:black;
}
h4 {
  color:black;
}
h5 {
  color:black;
}
h6 {
  color:black;
}
